要件書/Name card scan application.pdf
要件書/Process.pdf
要件書/Automatic-Document-Scanner.zip
要件書/TestData.png
要件書/Automatic-Document-Scanner/app.py
要件書/Automatic-Document-Scanner/Document_scanning.ipynb
要件書/Automatic-Document-Scanner/grabcut-scan.py
要件書/Automatic-Document-Scanner/output.png
要件書/Automatic-Document-Scanner/readme.md
要件書/Automatic-Document-Scanner/requirements.txt
要件書/Automatic-Document-Scanner/simple-scan.py
要件書/Automatic-Document-Scanner/time.csv
要件書/Automatic-Document-Scanner/.ipynb_checkpoints/Document_scanning-checkpoint.ipynb
要件書/Automatic-Document-Scanner/fails/corner-outside-frame.jpg
要件書/Automatic-Document-Scanner/grabcutop/aligned.jpg
要件書/Automatic-Document-Scanner/grabcutop/img1.jpg
要件書/Automatic-Document-Scanner/grabcutop/img10.jpg
要件書/Automatic-Document-Scanner/grabcutop/img11.jpg
要件書/Automatic-Document-Scanner/grabcutop/img12.jpg
要件書/Automatic-Document-Scanner/grabcutop/img13.jpg
要件書/Automatic-Document-Scanner/grabcutop/img14.jpg
要件書/Automatic-Document-Scanner/grabcutop/img15.jpg
要件書/Automatic-Document-Scanner/grabcutop/img16.jpg
要件書/Automatic-Document-Scanner/grabcutop/img17.jpg
要件書/Automatic-Document-Scanner/grabcutop/img18.jpg
要件書/Automatic-Document-Scanner/grabcutop/img2.jpg
要件書/Automatic-Document-Scanner/grabcutop/img20.jpg
要件書/Automatic-Document-Scanner/grabcutop/img21.jpg
要件書/Automatic-Document-Scanner/grabcutop/img22.jpg
要件書/Automatic-Document-Scanner/grabcutop/img3.jpg
要件書/Automatic-Document-Scanner/grabcutop/img4.jpg
要件書/Automatic-Document-Scanner/grabcutop/img5.jpg
要件書/Automatic-Document-Scanner/grabcutop/img6.jpg
要件書/Automatic-Document-Scanner/grabcutop/img7.jpg
要件書/Automatic-Document-Scanner/grabcutop/img8fail.jpg
要件書/Automatic-Document-Scanner/grabcutop/img9.jpg
要件書/Automatic-Document-Scanner/inputs/img1.jpg
要件書/Automatic-Document-Scanner/inputs/img10.jpg
要件書/Automatic-Document-Scanner/inputs/img11.jpg
要件書/Automatic-Document-Scanner/inputs/img12.jpg
要件書/Automatic-Document-Scanner/inputs/img13.jpg
要件書/Automatic-Document-Scanner/inputs/img14.jpg
要件書/Automatic-Document-Scanner/inputs/img15.jpg
要件書/Automatic-Document-Scanner/inputs/img16.jpg
要件書/Automatic-Document-Scanner/inputs/img17.jpg
要件書/Automatic-Document-Scanner/inputs/img18.jpg
要件書/Automatic-Document-Scanner/inputs/img2.jpg
要件書/Automatic-Document-Scanner/inputs/img20.jpg
要件書/Automatic-Document-Scanner/inputs/img21.jpg
要件書/Automatic-Document-Scanner/inputs/img22.jpg
要件書/Automatic-Document-Scanner/inputs/img3.jpg
要件書/Automatic-Document-Scanner/inputs/img4.jpg
要件書/Automatic-Document-Scanner/inputs/img5.jpg
要件書/Automatic-Document-Scanner/inputs/img6.jpg
要件書/Automatic-Document-Scanner/inputs/img7.jpg
要件書/Automatic-Document-Scanner/inputs/img8.jpg
要件書/Automatic-Document-Scanner/inputs/img9.jpg
要件書/Automatic-Document-Scanner/inputs/scanned-form.jpg
要件書/Automatic-Document-Scanner/outputs/aligned.jpg
要件書/Automatic-Document-Scanner/outputs/img1.jpg
要件書/Automatic-Document-Scanner/outputs/img10fail.jpg
要件書/Automatic-Document-Scanner/outputs/img11.jpg
要件書/Automatic-Document-Scanner/outputs/img12.jpg
要件書/Automatic-Document-Scanner/outputs/img13fail.jpg
要件書/Automatic-Document-Scanner/outputs/img14.jpg
要件書/Automatic-Document-Scanner/outputs/img15.jpg
要件書/Automatic-Document-Scanner/outputs/img16fail.jpg
要件書/Automatic-Document-Scanner/outputs/img17fail.jpg
要件書/Automatic-Document-Scanner/outputs/img18fail.jpg
要件書/Automatic-Document-Scanner/outputs/img2.jpg
要件書/Automatic-Document-Scanner/outputs/img20.jpg
要件書/Automatic-Document-Scanner/outputs/img21.jpg
要件書/Automatic-Document-Scanner/outputs/img22fail.jpg
要件書/Automatic-Document-Scanner/outputs/img23.jpg
要件書/Automatic-Document-Scanner/outputs/img3.jpg
要件書/Automatic-Document-Scanner/outputs/img4.jpg
要件書/Automatic-Document-Scanner/outputs/img5.jpg
要件書/Automatic-Document-Scanner/outputs/img6fail.jpg
要件書/Automatic-Document-Scanner/outputs/img7.jpg
要件書/Automatic-Document-Scanner/outputs/img8.jpg
要件書/Automatic-Document-Scanner/outputs/img9.jpg
要件書/插圖3.clip
要件書/Automatic-Document-Scanner/inputs/namecard.png
